html,
body {
  margin: 0;
  padding: 0;
  background-color: #34495e;
}

#viewer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ecf0f1;
  border: 1px solid black;
}

#toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  user-select: none;
}

#toolbar span {
  display: inline-block;
  cursor: pointer;
  margin: 0 2px;
}
